$primary-color: #d1c0a8;
$secondary-color: #AAAA92;
$accent-color: #69ADBA;
$button-color: #aaaa8b;
$link-color: #004f5f;

$component-bg-color: rgb(171, 200, 198);
$on-hover-bg-color: rgba(0, 0, 0, .02);
