<mat-sidenav-container>
  <mat-sidenav mode="over" #sideNav class="sidenav" position="end" opened>
    <div class="sidenav-opener opened" (click)="toggleNav()">
      <div class="arrow">
        <mat-icon>arrow_back</mat-icon>
      </div>
    </div>
    <app-sidenav-links class="sidenav-links" [sideNav]="sideNav" (createComponent)="createComponent($event)"></app-sidenav-links>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dashboard-container">
      <p-toast class="main-toast"></p-toast>
      <div #insertLocation></div>
      <div class="copy-right">
        <a href="https://github.com/GH94GitHub/angular-dashboard/tree/main" target="_blank">
          Copyright &copy; {{ copyRightYear }} George Henderson
        </a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
