@import '../global-variables.scss';

.main-toast {
  z-index: 200;
}

.copy-right {
  font-size: larger;
  font-weight: 500;
  position: absolute;
  left: 20px;
  bottom: 5px;
  z-index: 0;

  a:link, a:visited {
    color: $link-color;
  }
}
.mat-drawer-container {
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .sidenav {
    display: block;
    background-color: $secondary-color;
    width: 400px;
    max-width: 33%;
    overflow: visible;
    z-index: 1000;

    .sidenav-opener {
      cursor: pointer;
      visibility: visible !important;
      font-size: 40px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      right: 100%;
      color: black;

      padding: 5px;
      background-color: #AAAA92;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;

      & .arrow {
        height: 50px;
        display: flex;
        align-items: center;
        transition: all .7s;
        transform: rotate(0deg);

        mat-icon {
          font-weight: 600;
        }
      }

      &:not(.opened) {
        box-shadow: -2px 2px 5px 2px rgb(0 0 0 / 20%);
      }

      &.opened .arrow {
          transform: rotate(180deg);
      }
    }

    .sidenav-links {
      margin: auto;
      width: 100%;
    }
  }
}

.dashboard-container {
  height: 100%;
  width: 100%;
}
:host ::ng-deep {

  .mat-drawer-inner-container {
    display: flex !important;
  }

  mat-drawer[visibility= hidden] {
    visibility: visible !important;
  }
}
