<div
  cdkDrag
  cdkDragBoundary=".dashboard-container"
  class="component-container"
  [ngStyle]="styles"
  >
  <app-handle (exit)="destroySelf()" cdkDragHandle>Weather</app-handle>
  <div *ngIf="!loading; else spinner">
    <div class="component-content" fxLayout="row" *ngIf="permissionGranted; else permissionDenied">
      <img [src]="weather.icon" alt="Current weather icon" width="100px" height="100px">
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
        <span>{{ weather.city }} as of {{ weather.time }}</span>
        <span>{{ weather.temp.now }}&deg;F {{ weather.weather }}</span>
        <span>Feels like {{ weather.temp.feelsLike }}&deg;F</span>
        <span>Wind: {{ weather.wind.speed }}mph {{ weather.wind.direction }}</span>
      </div>
      <button mat-button class="refresh-button" (click)="refreshWeather()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  <ng-template #spinner>
    <mat-spinner style="padding: 10px;"></mat-spinner>
  </ng-template>
  <ng-template #permissionDenied>
    <div class="component-content" style="width: 400px;">
      <p>For more information visit: <br>
        <a href="https://aaml.org/page/locationpermission#:~:text=It's%20located%20in%20the%20upper,permission%20before%20accessing%20your%20location." target="_blank">
          Configuring your browser's location permission settings
        </a>
      </p>
    </div>
  </ng-template>
</div>
